{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/fav_icon.png' %}">
    <title>Ape Alert</title>

    <!-- CSS only -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.7/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
</head>

<body>
    <section class="header">
        <div class="dd">
            <div class="wui-side-menu open pinned" data-wui-theme="dark">
                <div class="wui-side-menu-header">
                    <a href="#" class="wui-side-menu-trigger none"><i class="fa fa-close" style="font-size:36px"></i></a>
                </div>

                <div class="logo1">
                    <div class="text-center">
                        <img src="{% static 'assets/img/logo.png' %}" class="img-fluid logoimg" alt="" />
                        <img src="{% static 'assets/img/bubble1.png' %}" class="img-fluid mt-2">
                    </div>
                </div>
                <div class="siderbar-navbar-content">
                    <ul class="wui-side-menu-items scroll-menu">
                        <li>
                            <a  class="wui-side-menu-item active">
                                <i class="fa fa-home"></i>
                                <span class="box-title">Home</span>
                            </a>
                        </li>
                        <li>
                            <a  class="wui-side-menu-item">
                                <i class="fa fa-calendar"></i>
                                <span class="box-title">Alerts</span>
                            </a>
                        </li>
                        <li>
                            <a  class="wui-side-menu-item">
                                <i class="fa fa-rocket"></i>
                                <span class="box-title">FAQs</span>
                            </a>
                        </li>
                        <li>
                            <div class="accordion" id="accordionExample">
                                <div class="">
                                    <h2 class="accordion-header" id="headingThree">
                                        <a  class="wui-side-menu-item" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                            <i class="fa fa-book"></i>
                                            <span class="box-title">Crypto</span>
                                            <i class="fa fa-angle-down float-end"></i>
                                            <i class="fa fa-angle-up d-none float-end"></i>
                                        </a>
                                    </h2>
                                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <ul class="p-0 sidebar-drop-li">
                                                <li>MegageLarge $10B - Max</li>
                                                <li>Mid-Market $1B - $10B </li>
                                                <li>Small Market $100M - $1B</li>
                                                <li>Micro Market $10M - $100M </li>
                                                <li>Nano Market $1M - $10M </li>
                                                <li>Pico Market $100K - $1M </li>
                                                <li>Femto Market <$100,000</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="wui-content">
                <div class="wui-content-header position-relative">
                    <div class="row main_content align-items-center" style="border-radius: 30px; padding: 10px 25px !important;">
                        <div class="col-12">
                            <div>
                                <img src="{% static 'assets/img/top_banner.png' %}" class="img-fluid" style="height: 110px; width: 2930px !important; border-radius: 13px; border: 2px solid #363636;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main_content" style="border-radius: 13px;">
                    <div class="container-fluid px-0">
                        <div class="personal_Infor mb-3 d-flex py-0 d-md-none">
                            <a href="#" class="wui-side-menu-trigger ms-0 m-2"><i class="fa fa-reorder"></i></a>
                            <h1 class="mb-0">Home</h1>
                        </div>
                        <div class="personal_Infor">
                            <div class="d-flex justify-content-between">
                                <h1>Coins</h1>
                                <a href="#" class="text-white p-2 btn-refresh" onclick="update_coins(event)"><i class="fa fa-refresh"></i></a>
                            </div>
                            <div class="card-block px-0 py-0">
                                <div class="table-responsive table-striped" style="border-radius: 10px; overflow: auto;">
                                    <table id="example" class="table table-striped" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="color:white">No</th>
                                                <th style="color:white">Crypto</th>
                                                <th style="color:white">Posts</th>
                                                <th style="color:white">Sentiment</th>
                                                <th style="color:white">Price</th>
                                                <th style="color:white">Market cap</th>
                                                <th style="color:white">Volume</th>
                                            </tr>
                                        </thead>
                                        <tbody >
                                            {% for coin in coins %}
                                            <tr >
                                                <td style="color:white">{{coin.id}}</td>
                                                <td style="color:white">{{coin.name}}</td>
                                                <td style="color:white">{{coin.posts}}</td>
                                                <td style="color:white">88 -3.4%</td>
                                                <td style="color:white">{{coin.price}}</td>
                                                <td style="color:white">{{coin.market_cap}}</td>
                                                <td style="color:white">{{coin.volume}}</td>
                                            </tr>
                                           {% endfor %}
                                        </tbody>
                                    </table>
                                    <div>
                                        <span class="step-links" style="color:#9bef05">
                                            {% if page_obj.has_previous %}
                                                <a href="?page=1">&laquo; first</a>
                                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                                            {% endif %}
                                
                                            <span class="current" style="color:#9bef05">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>
                                
                                            {% if page_obj.has_next %}
                                                <a href="?page={{ page_obj.next_page_number }}" style="color:white">next</a>
                                                <a href="?page={{ page_obj.paginator.num_pages }}" style="color:white">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        
        function update_coins(event) {
            event.preventDefault();
		
    		
    const wsUrl = `ws://localhost:8001/ws/coins/`;
    // const wsUrl = `ws://${window.location.host}/ws/coins/`;
    const socket = new WebSocket(wsUrl);
    
	socket.onmessage = function(event) {
        const message = event.data;
        if(message == '200'){

            socket.close();
            window.location.reload()
        }
};


    socket.onopen = function(e) {
        console.log('WebSocket connected');
		// socket.send(JSON.stringify(myVar));
    };
	

    socket.onerror = function(error) {
        console.error('WebSocket error:', error);
    };

    socket.onclose = function(event) {
        console.log('WebSocket closed:', event);
		// camera_stream_websockets()
    };
};
    </script>

    <!-- JavaScript Bundle with Popper -->
    <script type="text/javascript" src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="https://cdn.datatables.net/2.0.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2
